<h1> All products will show here </h1>
<table>
  <th> Name </th>
  <th> Cost </th>
  <th> Action </th>
  <% @products.each do |product | %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.cost%></td>
      <td><%= link_to "Edit", edit_product_path(product) %></td>
      <td><%= link_to "Show", product_path(product) %></td>
      <td><%= button_to "Delete", product_path(product),method: :delete %></td>
    </tr>
    <% end %>
</table>
<%= link_to "New Product", new_product_path %>

